@keyframes flash {
    0% { opacity: 0.9; }
    50% { opacity: 0.5; }
    100% { opacity: 0.9; }
}

@-webkit-keyframes flash {
    0% { opacity: 0.9; }
    50% { opacity: 0.5; }
    100% { opacity: 0.9; }
}

@-moz-keyframes flash {
    0% { opacity: 0.9; }
    50% { opacity: 0.5; }
    100% { opacity: 0.9; }
}

@keyframes flash_hue {
    0% { filter: none; }
    100% { filter: hue-rotate(90deg); }
}

@-webkit-keyframes flash_hue {
    0% { -webkit-filter: none; }
    100% { -webkit-filter: hue-rotate(90deg); }
}

@-moz-keyframes flash_hue {
    0% { filter: none; }
    100% { filter: hue-rotate(90deg); }
}

@keyframes lambda-scale {
    0% { font-size: var(--lambda-size) }
    100% { font-size: calc(var(--lambda-size) * 2) }
}

@-webkit-keyframes lambda-scale {
    0% { font-size: var(--lambda-size) }
    100% { font-size: calc(var(--lambda-size) * 2) }
}

@-moz-keyframes lambda-scale {
    0% { font-size: var(--lambda-size) }
    100% { font-size: calc(var(--lambda-size) * 2) }
}

@keyframes rotate-around {
    to {transform: rotate(1turn);}
}

@-webkit-keyframes rotate-around {
    to {transform: rotate(1turn);}
}

@-moz-keyframes rotate-around {
    to {transform: rotate(1turn);}
}

@keyframes button-blink {
    50% {color: white;background-color: var(--lambda-pink);text-shadow: none;}
}

@-webkit-keyframes button-blink {
    50% {color: white;background-color: var(--lambda-pink);text-shadow: none;}
}

@-moz-keyframes button-blink {
    50% {color: white;background-color: var(--lambda-pink);text-shadow: none;}
}